.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_header {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_header .logo_topo{
    width: 100px;
    height: 30px;
}

.header_navegacao {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header_navegacao li {
    list-style: none;
}

.header_navegacao a {
    text-decoration: none;
    font-size: 18px;
    color: var(--cor-texto);
}

/* Responsividade para celular */

.logo_header {
    flex-direction: column;
    gap: 10px;
}