:root{
  --cor-rodape: #000000;
  --cor-primaria: #fff;
  --cor-paragrafo: #C4C4C4;
  --fundo-card: #F6F6F6;
  --bordas-imagens: #4a4a4a;
  --cor-texto: #05031b;
  --texto-claro: #F8F7FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
  scroll-behavior: smooth;
}